<% Channel.all.each do |channel| %>
<a href="<%= channel_path(channel.id)%>">
<div class="post_item masonry-brick">
<% if(!channel.channel_image.nil?) %>
<%= image_tag attachment_url(channel, :channel_image, format: "jpg"), :class => "channel_image_tiny" %>
<% end %>
<h2 style="display: inline-block;"><%= channel.channel_name %></h2>
</div>
</a>
<% end %>