<%= form_for ([@post, @post.comments.build]) do |f| %>
<!--
collection.build(attributes = {}, …) Returns one or more new objects of the collection type that have been instantiated with attributes and linked to this object through a foreign key, but have not yet been saved. Note: This only works if an associated object already exists, not if it‘s nil!
-->


<div class="field">
  <div class="control">
    <%= f.text_area(:body, size: '50x10', class: "comment_input") %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
</div>
<%= f.submit %>
<% end %>