<div id="<%= get_votes_class(@comment.id) %>" class="votes">
 <%= link_to "▲", upvote_comment_path(@comment.id), method: :put,remote: true, class: "voter"%>  
 <%= @comment.score %>
  <%= link_to "▼", downvote_comment_path(@comment.id), method: :put,remote: true, class: "voter" %>  
</div>