/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("//fonts.googleapis.com/css?family=Raleway");
html,body {
        font-family: "Raleway";
        font-size: 13px;
        background-color:#f4f4f4;
        margin:0px;
}
header{
    background-color:#4980af;
    color: white;
    height: 60px;
    font-size: 45px;
}
a{
    color:#5d9cd3;
}
a:hover{
    color: #4980af;
}
w3-border-right {
    border-right: 1px solid #ccc!important;
}
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    z-index: 1;
    overflow: auto;
    font-size: 18px;
}
.menu_toggle, .menu_toggle:hover{
    all: unset;
    color:white;
}
.site_title
{
    text-align: center;
    display: inline;
}
.site_title a
{
    color: white;
    text-decoration: none;
}