// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    background-color: white;
    margin-bottom:20px;
    border-radius: 6px;
    // display: inline-block;
    margin:10px;
}
.post_item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.post_item a{
    all: unset;
}
.masonry { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.masonry-brick {
  flex: auto;
  height: auto;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
}
.post_image{
    display: block;
    width:100%;
}
.main_post_content{
    width:75%;
    display: inline-block;
    padding:15px;
}
.comments{
    width: 25%;
    display: inline-block;
    min-height: 85vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    background-color: white;
    margin-bottom:20px;
    border-radius: 6px;
    margin:20px;
    margin-top:15px;
     overflow-y: scroll;
     position: relative;
}
.comment{
    -webkit-box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.3);
box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.3);
    padding: 10px;
    background-color: white;
    margin-bottom:10px;
    border-radius: 6px;
}
.post_page{
    display:flex;
    max-height:90vh;
}
.main_post_item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    background-color: white;
    margin-bottom:20px;
    border-radius: 6px;
}
.votes{
    float: right;
    display:block;
    text-align: right;
}
.photo_post_tile{
    display: block;
    max-width:500px;
}
.comment_input{
   max-height: 50px;
}
.comments .comment-form{
        position: absolute;
    bottom: 50px;
    width: 90%;
}

.create_post{
    font-size: 32px;
    background-color:#00713d;
    color: white;
    border-radius: 100%;
}
input#upvote{
    width: 30px;
    display: inline-block;
}
.votes .button_to
{
    display: inline-block;
}
.edit{
    text-align: right;
    float: right;
}
.new{

}
.popular{
   grid-column: 1 / 3;
}
.masonry-brick:nth-child(4n+1) {
  width: 250px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+2) {
  width: 325px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+3) {
  width: 180px;
}
.masonry-brick:nth-child(4n+1):nth-child(4n+4) {
  width: 380px;
}